/* Layout Container */
.input-app-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background: url('../assets/HomecomingBg.svg') no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    color: #ffffff;
  }
  
  .number-input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  
  .number-input {
    width: 100%;
    max-width: 300px;
    padding: 0.8rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .number-display-section {
    text-align: center;
  }
  
  .big-number {
    font-size: 5rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .big2-number {
    font-size: 3rem;
    padding-top: -10px;
    padding-bottom: -10px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .super-big-number {
    font-size: 7rem;
    padding-top: -10px;
    padding-bottom: -10px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .normal-number {
    font-size: 1.5rem;
    margin-top: -40px;
    margin-bottom: -40px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  